* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 1000px;
}

.header-nav .main-menu li {
    list-style: none;
    margin: 0 15px;
    padding: 15px 0;
    display: inline-block;
    position: relative;
    z-index: 14;
}

.header-nav .main-menu >li::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: #3b5998;
    position: absolute;
    left: 0;
    top: 45px;
    transition: ease-in-out;
}

.header-nav .main-menu >li:nth-child(2)::after {
    width: 100%;
}

main {
    margin:150px 0 100px;

}

main .container {
    display: flex;
    gap:10px;
    margin: 0 20px;
}

main .container .table-cart {
    width: 65%;
}

main .container .table-cart h1,
main .container .payment h1 {
    text-transform: uppercase;
    color: #444444;
}

main .container .table-cart hr,
main .container .payment hr {
    width: 10%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    margin:5px 0 15px;
}

table {
    border-collapse: collapse;
    width: 100%;

}

th {
    border: 1px solid rgb(79, 79, 79);

}


td {
    text-align: center;
    border: 1px solid rgb(79, 79, 79);
}

td:first-child {
    text-align: left;
    padding-left: 10px ;
    width: 50%;
}

td:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-cart #ProductCart .change {
    background-color: rgba(0, 0, 0, 0.03);
    width: 100px;
    height: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}


#ProductCart .change button {
    border: none;
    background-color: rgba(0, 0, 0, 0.01);
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
}

main .container .payment {
    width: 34%;
}

.payment form {
    border: solid 1px rgba(0, 0, 0, 0.03);
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    padding: 10px 15px;
}

.payment form label {
    display: block;
    margin: 5px 0;
    font-size: 20px;
}

.payment form input {
    width: 100%;
    padding: 5px 10px;
    outline: none;
}

.payment form input[type="radio"] {
    width: auto;
    margin: 5px 0;
}

.payment form .form-method {
    margin-top: 20px;
}

.payment .box-payment {
    margin: 15px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.03);
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    padding: 10px 15px;
}

.btn-payment {
    font-size: 18px;
    padding: 5px 20px;
    color: white;
    background-color: #cc0000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}



@media only screen and (max-width:860px){
    main .container {
        display: block;
        margin: 0 10px;
    }

    main .container .table-cart ,
    main .container .payment{
        width: 100%;
        margin-bottom: 50px;
    }

    main .container hr {
        display: none;
    }

    main .container .table-cart h1,
    main .container .payment h1 {
        font-size: 25px;
    }

    main .container .table-cart hr ,
    main .container .payment hr  {
        display: block;
    }
}